table,th,td{
	border: 3px solid black;
}

table{
	width:90%;
	border-collapse: collapse;
	margin-top: 50px;
	margin-left: 40px;
}

#all_players{
	width: 50%;
}
#my_favorites{
	width:50%;
}

td{
	width:12.5%
}

h1{
	font-size: 24px;
	color: rgb(75,47,37);
	text-align: center;
	margin-top: 20px;
}

